@charset "utf-8";

/* Main */
section{
  margin-bottom:150px;
}
.btn_more{
  display:block;
  width: 190px;
  height: 60px;
  margin:80px auto 0;
  background: #4b1596;
  font-size:2rem;
  color:white;
  text-align:center;
  line-height:60px;
}
.btn_radius{
  display:inline-block;
  margin-top:40px;
  padding:10px 40px;
  font-size:2rem;
  font-weight:500;
  text-align:center;
  color:#4B1596;
  border:1px solid #4B1596;
  border-radius:50px;
}
.white{
    background: #fff;
    color:black;
    border:0;
}
@media(max-width:768px){
  
section{
  margin-bottom:100px;
}
.btn_more{
  width:226px;
  height:60px;
  margin:50px auto 0;
}
}
@media(max-width:360px){
  
section{
  margin-bottom:50px;
}
.btn_more{
  width:155px;
  height:56px;
}
  
.btn_radius{
width:152px;
height:48px;
margin:0;
padding:11px 30px 15px;
font-size:1.6rem;
}
}
/* Main_visual */
#main_visual {
  position:relative;
}
#main_visual .swiper-slide{
  position:relative;
}
#main_visual .mv01{
  width:100%;
  height:100vh;
  background: url(../img/main/mv_bg01.jpg)no-repeat center top /cover;
}
#main_visual .mv02{
  width:100%;
  height:100vh;
  background: url(../img/main/mv_bg02.jpg) no-repeat center top/cover;
}
#main_visual .mv_txt{
  position:absolute;
  left:10%;
  top:350px;
}
#main_visual .mv_txt h2{
  font-size:6.4rem;
  font-weight:700;
  color:white;
  text-transform:uppercase;
}

@keyframes scroll {
  50%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform:translateY(10px)
  }
}
#main_visual .scroll{
  position:absolute;
left:50%;
transform:translateX(-50%);
bottom:15%;
z-index:2;
text-align:center;
}
#main_visual .scroll img{
  margin-bottom:10px;
  animation:scroll 3s infinite;
}
#main_visual .scroll p{
  color:white;
}
#main_visual .mv_control{
  display:flex;
  justify-content: center;
position:absolute;
left:50%;
z-index:5;
width:100%;
transform:translateX(-50%);
bottom:10%;
}
#main_visual .swiper-pagination{
  width:60%;
  height: 2px;
  position:static;
  background: #fff;
  
}
#main_visual .swiper-pagination-progressbar-fill{
  background: var(--main-color);
}
#main_visual .swiper-button-prev{
  margin:-20px 30px 0;
  position:static;
  color:transparent;
  background: url(../img/main/arrow_prev.png) no-repeat center;
}
#main_visual .swiper-button-next{
  margin-top:-20px;
  position:static;
  color:transparent;
  background: url(../img/main/arrow_next.png) no-repeat center;
}

@media(max-width: 1100px){
  #main_visual .mv_txt{
    left:5%;
    top:300px;
  }
  #main_visual .mv_txt h2{
    font-size:4.8rem;
  }
}
@media(max-width:430px){
  
  #main_visual .mv_txt h2{
    font-size:3.2rem;
  }
}
@media(max-width:360px){
  #main_visual .swiper-pagination{
    width:90%;
  }
  #main_visual .swiper-button-prev{
    display:none;
  }
  #main_visual .swiper-button-next{
    display:none;
  }
}
/* Product */
#product .swiper-grid-column>.swiper-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}
#product .pdt_title{
  padding:23px 0;
  background:#100027;
  color:White;
}
#product .pdt_title h2{
  font-size:4rem;
}
#product .pdt_title .inner{
  display:flex;
  justify-content:space-between;
}
#product .pdt_title .pdt_select  form{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
}
#product .pdt_title .pdt_select select{
  width:190px;
  height:54px;
  padding-left:15px;
  background: url(../img/main/arrow_down.png) no-repeat center right 10px ,#fff;
  font-family:var(--main-font);
  font-size:2rem;
  color:#666;
  appearance: none;
  border:0;
}
#product .pdt_title .pdt_select{
  position:relative;
}
#product .pdt_title .select_btn{
  padding:21px;
  width:80px;
  height: 55px;
  background: url(../img/main/search_w.png) no-repeat center ,#4B1596;
}
#product .pdt_main{
  padding: 50px 0 0;
}
#product .pdt .swiper-slide{
  height: 435px !important;
  border:1px solid #ccc;
  border-radius:20px;
  overflow:hidden;
}
#product .pdt ul li a{
  display:block;
  text-align:center;
}
#product .pdt ul li a img {
  width:200px;
  height: 200px;
  padding:20px;
  object-fit: contain;

}
#product .pdt ul li a .pdt_txt{
  text-align:left;
  border-top:1px solid #ccc;
  padding:20px 20px 0;
}
#product .pdt ul li a .pdt_txt h3{
  font-size:2.8rem;
  font-weight:500;
}
#product .pdt ul li a .pdt_txt p{
  display:-webkit-box;
  height: 70px;
  margin: 14px 0 30px;
  overflow:hidden;
  text-overflow:ellipsis;
  line-height:1.5;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: 3;
}
#product .pdt ul li a .pdt_txt .tag{
  display:inline-block;
  padding: 6px 21px;
  background: #3A176B;
  font-size:1.4rem;
  color:white;
  border-radius:50px;
}
#product .pdt ul li a .pdt_txt .green{
  background: #288209;
}
#product .pdt ul li a .pdt_txt .light{
  background: #795BA3;
}
#product .pdt ul li a .pdt_txt .pdt_price{
  display:inline;
  float:right;
  font-size:2rem;
  font-weight:500;
}
@media(max-width:1210px){
  #product .pdt_title .inner{
    flex-direction:column;
  }
  #product .pdt_title h2{
    width:100%;
    font-size:3.2rem;
  }
  #product .pdt_title .pdt_select select{
    width:calc((100% - 20px) /2);
  }
  #product .pdt_title .select_btn{
    
    width:calc((100% - 20px) /2);
  }
  #product .pdt .swiper-slide{
    height:400px !important;
  }
  #product .pdt ul li a .pdt_txt h3{
    font-size:2rem;
  }
  #product .pdt ul li a .pdt_txt p{
    font-size:1.4rem;
  height: 60px;
  margin: 8px 0 20px;
  }
  #product .pdt ul li a .pdt_txt .tag{
    padding:8px 21px;
    font-size:1.2rem;
  }
  #product .pdt ul li a .pdt_txt .pdt_price{
    font-size:1.6rem;
    line-height:50px;
  }
}
@media(max-width:360px){
  #product .pdt .swiper-slide{
    height:430px !important;
  }
  
  #product .pdt_title .pdt_select select{
    width:100%;
  }
  #product .pdt_title .select_btn{
    width:100%;
  }
  #product .pdt ul li a .pdt_txt .pdt_price{
    display:block;
    float:none;
  }
  #product .pdt ul li a .pdt_txt .tag{
    padding:4px 14px;
  }
}

/* banner */

#banner{
  position:relative;
  width: 100%;
  height: 400px;
  background: url(../img/main/img_banner.jpg)no-repeat center/cover;
}
#banner .b_txt{
  padding-top:80px;
}
#banner .b_txt span{
  display:block;
  font-size:2.4rem;
}
#banner .b_txt h3{
  font-size:3.6rem;
}
#banner .b_txt p{
  font-size:2rem;
}

@media (max-width:768px){
  #banner{
    background: url(../img/main/img_banner_t.jpg)no-repeat center/cover;
}
#banner .b_txt span{
  font-size:1.6rem;
}
#banner .b_txt h3{
  font-size:2.8rem;
}
#banner .b_txt p{
  font-size:1.4rem;
}
  }
  @media (max-width:450px){
    #banner{
      height: 300px;
      background: url(../img/main/img_banner_m.jpg)no-repeat center/cover;
  }  
  #banner .b_txt{
    padding:40px 0 0 20px;
  }
  #banner .b_txt span{
    font-size:1.4rem;
  }
  #banner .b_txt h3{
    font-size:2.0rem;
  }
  #banner .b_txt p{
    font-size:1.2rem;
  }
  #banner .btn_radius{
    position:absolute;
    bottom:10%;
  }
    }

/* news */

#news h2{
  margin-bottom:30px;
  font-size:4rem;
  text-align:center;
}
#news .news_list{
  display:flex;
  justify-content: center;
  width:100%;
  gap:20px;
}
#news .news_list > div{
  width:33%;
}
#news .news_list article{
  position:relative;
  margin:0 0 50px;
}
#news .news_list article a{
  display:block;
}
#news .news_list article img{
  width:100%;
  object-fit:contain;
}
#news .news_list > div:not(:nth-child(1)) article::before{
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:-10px;
  width: 1px;
  height: 100%;
  background: #eee;
  }
  #news .news_txt{
    width:100%;
  }
  #news .news_txt h4{
  margin-top:20px;
  font-size:2.4rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
#news .news_txt p{
  display:-webkit-box;
  height: 48px;
  margin:8px 0;
  color:#666;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: 2;
}
#news .news_txt span{
  color:#999;
}
@media(max-width:768px){
  #news h2{
    font-size:3.2rem;
  }
  #news article:last-child{
  margin:0;
  }
  #news .article_section03{
    display:none;
  }
  
#news .news_list > div{
  width:50%;
}
}
@media(max-width:360px){
  #news h2{
    font-size:2.4rem;
  }
  #news .article_section02{
    display:none;
  }
  
#news .news_list > div{
  width:100%;
}
#news .news_txt h4{
  font-size:1.6rem;
}
#news .news_txt p{
  font-size:1.4rem;
}
#news .news_txt span{
  font-size:1.4rem;
}
}

/* yamaha_service */
#yamaha_service{
  display:flex;
  flex-wrap:wrap;
  margin:0;
}
#yamaha_service .membership{
  position:relative;
  width: 50%;
  height: 380px;
  padding:44px 0 0 16%;
  background: url(../img/main/mebership.jpg) no-repeat center /cover;
  color:white;
}
#yamaha_service .membership h3{
  font-size:4rem;
}
#yamaha_service .membership p{
  font-size:3.2rem;
  font-weight:600;
  margin-top:-12px;
}
#yamaha_service .membership span{
  display:block;
  font-size:2rem;
  margin-top:-10px;
}
#yamaha_service .membership span em{
  font-style:normal;
}
#yamaha_service .membership .btn_radius{
  position:absolute;
  bottom:10%;
}
#yamaha_service .syncroom{
  width:50%;
  height:380px;
  background: url(../img/main/syncroom.jpg)no-repeat center/cover;
}
#yamaha_service .syncroom a{
  display:block;
  width:100%;
  height: 100%;
}
@media(max-width:1024px){
  #yamaha_service .membership{
    width:100%;
  padding:40px 0 0 40px; 
  background: url(../img/main/mebership_t.jpg) no-repeat center /cover;;
  }
  #yamaha_service .syncroom{
    width:100%;
    background: url(../img/main/syncroom_t.jpg) no-repeat center /cover;
  }
}
@media(max-width:360px){
  #yamaha_service .membership{
    height: 300px;
    background: url(../img/main/mebership_m.jpg)no-repeat center /cover;
  }
  #yamaha_service .syncroom{
    height:300px;
    background: url(../img/main/syncroom_m.jpg) no-repeat center /cover;
  }
  #yamaha_service .membership h3{
    font-size:2rem;
  }
  #yamaha_service .membership p{
    font-size:2rem;
    margin:-3px  0 8px;
  }
  #yamaha_service .membership span{
    font-size:14px;
    line-height:1.2;
  }
  #yamaha_service .membership span em{
    display:block;
  }
}