@charset "utf-8";

/* main */

h2{
  font-size:4rem;
  text-align:center;
}
h2 + p {
  font-size:2rem;
  text-align:center;
}

@media(max-width:420px){

  h2 + p{
    font-size:1.6rem;
  }
   h2{
    font-size:2.4rem;
    line-height:1.3;
    letter-spacing:0.5px;
  }
}
/* sub_banner */
#sub_banner01{
  height:480px;
  background: url(../img/sub/mb01.jpg) no-repeat center/ cover;
}
#sub_banner02{
  height:480px;
  background: url(../img/sub/mb02.jpg) no-repeat center/ cover;
}

#sub_banner03{
  height:480px;
  background: url(../img/sub/mb03.jpg) no-repeat center/ cover;
}
@media(max-width:768px){
  #sub_banner01{
    background: url(../img/sub/mb01_t.png) no-repeat center/cover;
  }
  #sub_banner02{
    background: url(../img/sub/mb02_t.png) no-repeat center/cover;
  }
  #sub_banner03{
  background: url(../img/sub/mb03_t.png)no-repeat center/ cover;
}
}
@media(max-width:360px){
  #sub_banner01{
    height: 300px;
    background: url(../img/sub/mb01_m.jpg)no-repeat center/cover;
  }
  #sub_banner02{
    height: 300px;
    background: url(../img/sub/mb02_m.jpg)no-repeat center/cover;
  }
  #sub_banner03{
    height: 300px;
  background: url(../img/sub/mb03_m.jpg) no-repeat center/ cover;
  }
}
/* sub_nav */
#sub_nav{
  background: #100027;
}
#sub_nav .inner{
  display:flex;
  align-items: center;
  height: 60px;
}
#sub_nav p{
  color:#A4A4A4;
}
#sub_nav .arrow_r{
  width: 10px;
  height: 10px;
  margin:0 16px;
  border-top:1px solid #A4A4A4;
  border-right:1px solid #A4A4A4;
  transform:rotate(45deg);
}
#sub_nav span{
  color:white;
  font-weight:600;
}

@media(max-width:1340px){
  #sub_nav .inner{
    padding:0 24px;
  }
}

/* sub_menu */
#sub_menu{
  padding:150px 0;
}
#sub_menu .sub_menu_list{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  gap:34px;
}
#sub_menu .sub_menu_list li{
  max-width:150px;
  height: 210px;
}
#sub_menu .sub_menu_list li a{
  display:block;
  width:100%;
  height:100%;
}
#sub_menu .sub_menu_list img{
  width:100%;
}
#sub_menu .sub_menu_list h3{
  text-align:center;
  font-weight:500;
  letter-spacing:-1px;
}
@media(max-width:1024px){
  #sub_menu{
    padding:50px 0;
  }
  #sub_menu .sub_menu_list{
    gap:24px;
  }
}
@media(max-width:767px){
  
#sub_menu .sub_menu_list{
  gap:15px 12px;
}
  #sub_menu .sub_menu_list li{
    max-width:70px;
    height:100px;
  }
  #sub_menu .sub_menu_list h3{
    font-size:1.1rem;
    letter-spacing:-1px;
  }
  #sub_menu .sub_menu_list li h3 span{
    display:block;
  }
}

/* new_product */
#new_product {
  padding:100px 0 100px;
  max-height: 760px;
  background: #100027 url(../img/sub/bg_wave.png)no-repeat center bottom 100px;
  text-align:center;
  color:white;
}
#new_product .inner{
  max-width:720px;
}
#new_product  .video_container {
  position:relative;
  width:100%;
  height:0;
  margin-top:50px;
  padding-bottom:56.25%;
  border:0;
}
#new_product  .video_container iframe {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0;
  width:100%;
  height:100%;
}
@media (max-width:1024px){
  #new_product {
    padding:50px 0;
    max-height: 600px;
    background-position:center center;
  }
  #new_product .inner{
    padding:0 10%;
  }
}
@media(max-width:500px){
  #new_product{
    max-height: 500px;
    background-position:center center ;
  }
}

/* recommend */
#recommend{
  padding:150px 0;
}
[class *= "item"]{
  border:1px solid #d9d9d9;
}
#recommend .recommend_list{
  display:flex;
  flex-wrap:wrap;
  gap:28px;
  margin-top:50px;
}
#recommend .recommend_list .list_left{
  display:flex;
  flex-wrap:wrap;
  gap:28px;
  width:calc(100% - 40% - 28px);
}
#recommend .recommend_list .recommend_txt p{
  font-size:2rem;
}
#recommend .recommend_list .recommend_txt h3{
  font-size:3.2rem;
  line-height:1.3;
}
#recommend article a{
  display:block;
  width:100%;
  height:100%;
}
#recommend .item01{
  position:relative;
  width:calc(100% - 60% - 28px);
  height: 300px;
  padding:20px;
  background: url(../img/sub/pad.jpg) no-repeat right -100px top  -40px / 110% ;
}
#recommend .item01 .recommend_txt{
  position:absolute;
  bottom:10px;
}
#recommend .item02{
  text-align:right;
  width:calc(100% - 40%);
  height: 300px; 
  padding:20px;
  background: url(../img/sub/mini_keyboard.jpg) no-repeat center bottom 15px /90% ;
}
#recommend .item03{
  position:relative;
  width:100%;
  height: 242px;
  background: url(../img/sub/degital_piano.jpg) no-repeat center top 10px / 80%;
}
#recommend .item03 .recommend_txt{
  position:absolute;
  left:20px;
  bottom:20px;
}
#recommend .item04{
  position:relative;
  width:calc(100% - 60% - 28px);
  height: 570px;
  background: url(../img/sub/guitar02.png) no-repeat left -30px bottom -280px/ 230px ,url(../img/sub/guitar01.png) no-repeat right -50px top -200px / 300px;
}

#recommend .item04 .recommend_txt{
  position:absolute;
  left:20px;
  top:20px;
}

@media(max-width: 1110px){
  #recommend{
    padding:50px 0;
  }
  #recommend .recommend_list{
    gap:30px;
  }
  #recommend .recommend_list .list_left{
    width:100%;
    gap:30px 23px;
  }
  #recommend .item01{
    width:calc((100% - 23px) / 2);
    height: 250px;
    background: url(../img/sub/pad.jpg) no-repeat right -90px top -50px / 60% ;
  }
  
  #recommend .item02{
    width:calc((100% - 23px) / 2);
    height: 250px;
    background: url(../img/sub/mini_keyboard.jpg) no-repeat center bottom 10px / 80%; ;
  }
  #recommend .item03{
  height: 240px;
  background: url(../img/sub/degital_piano.jpg) no-repeat right -100px top -15px / 80%;
}
  #recommend .item04{
    width:100%;
    height: 500px;
    background: url(../img/sub/guitar04.png) no-repeat right 620px bottom -230px,url(../img/sub/guitar03.png)no-repeat right 450px bottom -150px ,url(../img/sub/guitar02.png) no-repeat right 250px bottom -150px/ 200px ,url(../img/sub/guitar01.png) no-repeat right 0 top -200px / 250px;
  }
  
}
@media(max-width: 640px){
  
  #recommend .recommend_list .list_left{
    width:100%;
    gap:30px 23px;
  }
  #recommend .item01{
    width:100%;
    height: 200px;
    background: url(../img/sub/pad.jpg) no-repeat right 0px top -5px / 200px ;
  }
  
  #recommend .item02{
    width: 100%;
    height: 200px;
    background: url(../img/sub/mini_keyboard.jpg) no-repeat center bottom 10px / 90% ;
  }
  #recommend .item03{
  height: 200px;
  background: url(../img/sub/degital_piano.jpg) no-repeat center top 20px / 90%;
}
  #recommend .item04{
    width:100%;
    height: 400px;
    background: url(../img/sub/guitar04.png) no-repeat right 620px bottom -230px,url(../img/sub/guitar03.png)no-repeat right 380px bottom -200px ,url(../img/sub/guitar02.png) no-repeat right 200px bottom -150px/ 180px ,url(../img/sub/guitar01.png) no-repeat right 0 top -180px / 205px;
  }
  #recommend .recommend_list .recommend_txt p{
    font-size:1.2rem;
  }
  #recommend .recommend_list .recommend_txt h3{
    font-size:2rem;
  }
}

/* SUB02 - main */

#event{
  padding:100px 0;
}
#event h2{
  font-size:40px;
  font-weight:400;
  margin-bottom:50px;
}
#event .news_list li{
  margin-bottom:30px;
}
#event .news_list li:last-child{
  margin:0;
}
#event .news_list li img{
  width:230px;
  height: 100%;
}
#event .news_list li a{
  display:flex;
  height: 230px;
  border:1px solid #ccc;
}
#event .news_list li .news_txt{
  position:relative;
  width:calc(100% - 230px);
  padding:30px 24px;
}
#event .news_list li .news_txt h3{
  font-size:2.4rem;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
#event .news_txt p{
  color:#666;
}
#event .news_txt span{
  position:absolute;
  bottom:20px;
  left: 30px;
  display:block;
  color:#666;
}
#pagination{
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width:320px;
  height: 17px;
  margin: 80px auto 0;
  gap:18px;
}
#pagination li.active a{
  color:var(--main-color);
  font-weight:500;
}
#pagination a {
  display:block;
  width:100%;
  font-size:2.4rem;
  color:#aaa;
}
#pagination li:nth-child(n+3):nth-child(-n+5) a{
margin:5px 30% ;
}
#pagination li:nth-child(3){
  margin:0 0 0 15%;
}

#pagination li:nth-child(5){
  margin:0 15% 0 0;
}
#pagination li div{
  margin-top:15px;
}

@media(max-width:600px){
  #event{
    padding:60px 0;
  }
  #event h2{
    font-size:2.4rem;
  }
  #event .news_list li .news_txt h3{
    display:-webkit-box;
    white-space:normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size:1.6rem;
  }
  #event .news_txt p{
    display:none;
  }
  #event .news_list li a{
    height: 148px;
  }
  #event .news_list li img{
    width:152px;
  }

  #event .news_list li .news_txt{
    padding:15px 22px;
    width:calc(100% - 148px);
  }
  #event .news_txt span{
    bottom:15px;
    left: 22px;
    font-size:1.2rem;
  }
}
@media(max-width:450px){
  #event{
    padding:50px 0;
  }
  #pagination{
  margin: 40px auto 0;
  }
  #pagination a{
    font-size:1.6rem;
  }

  #pagination li div{
    margin-top:10px;
  }
}
@media(max-width:300px){
  #event .news_txt span{
    display:none;
  }
}

/* SUB03 - main */
#map{
  position:relative;
  display:flex;
  flex-wrap:wrap;
  gap:0;
  width:100%;
  height:1080px;
}
#map h2{
  margin-bottom:5px;
  text-align:left;
  font-size:2.4rem;
  font-weight:600;
}
#map .map_info{
  position:absolute;
  left:0;
  top:0;
  width: 450px;
  height:1080px;
  background:#fff;
  transition:All 0.5s;
}
#map .map_info.close{
  left:-450px;
}

#map .map_info.t_close{
  top:-500px;
  left:0;
}
#map .map_search{
  padding:50px 50px 50px;
}

#map .map_search_box{
  display:flex;
  flex-wrap:wrap;
  margin-bottom:50px;
}
#map .map_info .map_search select{
  width:calc((100% - 10px) /2);
  height: 50px;
  margin-bottom:20px;
  padding:13px 30px 13px 13px;
  background: url(../img/sub/arrow_down.png) no-repeat center right 10px;
  font-size:1.8rem;
  color:#999;
  appearance: none;
  border-color:#ccc;

}
#map .map_info .map_search select:first-of-type{
  margin-right:5px;
}
#map .map_info .map_search .input_txt_search{
  display:flex;
  width:100%;
}
#map .map_info .map_search input[type="text"]{
  width:80%;
  height: 50px;
  padding:13px 30px 13px 13px;
  font-size:1.8rem;
  color:#999;
  border:1px solid #ccc;
}
#map .map_info .map_search button{
  width:20%;
  height: 50px;
  padding:13px 30px 13px 13px;
  font-size:1.8rem;
  color:#999;
  background: #26005B url(../img/sub/search.png)no-repeat center /18px;
}
#map .map_info .quick_store{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  text-align:center;
}
#map .map_info .quick_store input[type="checkbox"]{
  appearance: none;
  display:block;
  width:40px;
  height: 40px;
  margin:0 auto;
  border-radius:50%;
}
#map .map_info .quick_store .agency input[type="checkbox"]{
  background:#DEDEDE url(../img/sub/icon_search01.png) no-repeat center center/80%;
}
#map .map_info .quick_store .branch input[type="checkbox"]{
  background:#DEDEDE url(../img/sub/icon_search02.png) no-repeat center center/80%;
}
#map .map_info .quick_store .ymcc input[type="checkbox"]{
  background:#DEDEDE url(../img/sub/icon_search03.png) no-repeat center center/80%;
}
#map .map_info .quick_store .product input[type="checkbox"]{
  background:#DEDEDE url(../img/sub/icon_search04.png) no-repeat center center/65%;
}
#map .map_info .quick_store .headphone input[type="checkbox"]{
  background:#DEDEDE url(../img/sub/icon_search05.png) no-repeat center center/65%;
}
#map .map_info .quick_store .clavinova input[type="checkbox"]{
  background:#DEDEDE url(../img/sub/icon_search06.png) no-repeat center center/65%;
}
#map .map_info .quick_store input[type="checkbox"]:checked{
  background-color: #E5D2FF;
}
#map .map_info .quick_store label{
  font-size:1.1rem;
  font-weight:500;
  line-height:1px;
}
#map .map_info .quick_store label span{
  display:block;
}
#map .map_info .map_list{
  border-top:1px solid #ddd;
  height: 655px;
  overflow-y:auto;
}
#map .map_info .map_list.t_close{
  height:100%;
}
.map .map_info .map_list{
  -ms-overflow-style: none;
}
.map_list::-webkit-scrollbar{
 display:none;
}
#map .map_info .map_list > li {
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  gap:10px;
  padding:40px 50px 40px 50px;
}

#map .map_info .map_list > li.active{
  background: #F9F9F9;
}
#map .map_info .map_list > li h4 {
  font-size:1.4rem;
  font-weight:500;
}
#map .map_info .map_list > li .address {
  padding:10px 0;
  font-size:1.2rem;
  font-weight:400;
  color:#999;
}
#map .map_info .map_list > li .time {
  font-size:1.2rem;
  font-weight:400;
  color:#666;
}
#map .map_info .map_list > li .call{
  padding:10px 0;
  font-weight:500;
  font-size:1.2rem;
}
#map .map_info .map_list > li .call img{
margin-top:7px;
margin-right:6px;
}
#map .map_info .map_list > li em{
  display:block;
  font-style:normal;
  font-size:1.2rem;
  font-weight:500;
}
#map .map_info .map_list > li .display{
  display:flex;
  gap:10px;
  margin-top:10px;
}
#map .map_info .map_list > li .display li{
  width:40px;
  height:40px;
}
#map .map_info .map_list > li .display img{
  width:100%;
}
#map .btn_open_close_lr{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:-40px;
  z-index:2;
  width:40px;
  height: 160px;
  background: #fff url(../img/sub/arrow_close.png) no-repeat center;
  cursor:pointer;
}

#map .btn_open_close_ud{
  display:none;
  position:absolute;
  top:-39px;
  left: 50%;
  z-index:2;
  width: 160px;
  height: 40px;
  transform:translateX(-50%);
  background:#fff url(../img/sub/arrow_open_up.png)no-repeat center;
  cursor:pointer;
}
#map .btn_open_close_lr.close{
  background:#fff url(../img/sub/arrow_open.png)no-repeat center
}

#map .btn_open_close_ud.t_close{
  background: #fff url(../img/sub/arrow_close_down.png)no-repeat center;
}
#map .map_location{
  width:100%;
}
#map .map_location iframe{
  width:100%;
  height:100%;
}

@media(max-width:1000px){
  #map{
    height:1220px;
  }
  #map .map_info{
    position:relative;
    width: 100%;
   height: 800px;
  }
  #map .map_info .map_list{
    height:200px;
  }
  #map .map_info .map_list > li .location_info{
    width:calc((100% - 10px)/2);
  }
  #map .map_info .map_list > li .display_list{
    width:calc((100% - 10px)/2);
  }
  #map .btn_open_close_lr{
    display:none;
  }
  #map .btn_open_close_ud{
    display:block;
  }
  #map .map_location{
    height:600px;
  }
}
@media(max-width:706px){
  #map{
    height:1300px;
  }
  #map .map_info{
    height:800px;
  }
  #map .map_info .quick_store input[type="checkbox"]{
    width:30px;
    height:30px;
  }
  #map .map_info .map_list{
    height:300px;
  }
  #map .map_info .map_list > li .location_info{
    width:100%;
  }
  #map .map_info .map_list > li .display_list{
    width:100%;

  }
}

/* Sub04 - main */
#faq{
  padding:100px 0;
}
#faq .faq_box{
  max-width:1280px;
  margin-top:50px;
  padding:50px;
  border:1px solid #ccc;
  border-radius:10px;
}
#faq .faq_box .faq_list > li{
  margin-bottom:30px;
}
#faq .faq_box .faq_list > li:last-child{
  margin:0;
}
#faq .faq_box .faq_list > li .faq_tit {
  height: 81px;
  padding-bottom:15px;
  background: url(../img/sub/arrow_close_down.png)no-repeat right 10px center;
  border-bottom:1px solid #ccc;
}
#faq .faq_box .faq_list > li .faq_tit h4{
  max-width:90%;
  font-size:1.8rem;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  cursor:pointer;
  line-height:81px
}
#faq .faq_box .faq_list .faq_a {
  display:none;
  padding:24px;
  margin:30px 0;
  background: #efefef;
}

#faq .faq_box .faq_list .faq_a li a{
  display:inline-block;
  margin-top:16px;
  text-decoration:underline;
}


@media(max-width:1024px){
  
#faq .faq_box .faq_list .faq_a p{
  font-size:1.4rem;
}
#faq .faq_box .faq_list .faq_a li a{
  font-size:1.4rem;
}
}

@media(max-width:768px){
#faq .faq_box .faq_list .faq_a {
  font-size:1.2rem;
}
#faq .faq_box .faq_list .faq_a  a{
  font-size:1.2rem; 
}
} 

#service_product {
  height: 756px;
  padding-top: 100px;
  background: url(../img/sub/bg_service_product.jpg)no-repeat center/ cover;
}
#service_product .inner{
  max-width:850px;
}
#service_product h2{
  margin-bottom:50px;
  font-weight:500;
  color:white;
  text-shadow:0 0 10px rgba(0,0,0,0.5);
}
#service_product .service_product_list{
  display:flex;
  flex-wrap:wrap;
  gap:16px;
  justify-content: center;
  max-width:910px;
  margin:0 auto;
}
#service_product .service_product_list li{
  width:160px;
  height:164px;
  background: rgba(255,255,255,0.6);
  border-radius:50%;
  text-align:center; 
  padding:35px 0 ;
}
#service_product .service_product_list li a{
  display:block;
  width:100%;
  height:100%;
}
#service_product .service_product_list li h3{
  margin-top:15px;
  font-size:1.4rem;
}
@media(max-width:768px){
  #service_product{
    height: 500px;
  }
  
  #service_product h2{
    font-size:3.2rem;
  }
  #service_product .service_product_list li{
    width:calc((100% - 16px) /2);
    height: 50px;
    padding:0;
    border-radius:10px;
    background: #fff;
  }
  #service_product .service_product_list li a{
    display:flex;
    align-items:center;
    height: 50px;
    padding:10px 12px;
    line-height:0;
  }
  #service_product .service_product_list li h3{
    margin:0 0 0 15px;
  }
  #service_product .service_product_list li a img{
    width:20px;
  }
  
  
}
/* Download */
#download{
  padding:50px 0;
  background: #100027;
  color:white;
}
#download .inner{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:60px;
}
#download h2{
  width:calc(25% - 30px);
}
#download .download_list{
  display:flex;
  flex-wrap:wrap;
  gap:28px;
  width:calc(75% - 30px);
}
#download .download_list li{
  width:calc((100% - 28px)/2);
  height: 80px;
  background: url(../img/sub/icon_download.png)no-repeat right 30px center ;
  border:5px solid #fff;
}
#download .download_list li a{
  display:block;
  width:100%;
  height:100%;
  padding:24px 0 28px 40px;
}

@media(max-width:970px){
  #download .inner{
    gap:30px;
  }
  #download h2{
    width:100%;
  }
  #download .download_list{
    width:100%;
  }
  #download .download_list li{
    width:100%;
  }
  #download .download_list li a{
    font-size:1.4rem;
    padding:21px 0 21px 24px;
  }
}
